.body {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.car .box {
    height: 400px;
    height: 400px;
    position: absolute;
    bottom: 10;
    left: 990px;
    top: 250px;
}

.signal {
    height: 200px;
    width: 200px;
}

#green {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 80px;
    border-radius: 50%;
    bottom: 30px;
}

#yellow {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 80px;
    left: 80px;
    border-radius: 50%;
    bottom: 50px;
}

#red {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 30px;
    left: 80px;
    border-radius: 50%;
    bottom: 50px;
}

#cargoing {
    display: none;
}

#start {
    display: none;
}